In [216]:
### 178. Rank Scores

import pandas as pd

In [217]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [218]:
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores.drop('id', axis=1)
    scores = scores.sort_values(by='score', ascending=False)
    scores['rank'] = scores['score'].rank(method='dense', ascending=False)
    return scores[['score', 'rank']]

In [219]:
order_scores(scores)

   score  rank
2    4.0   1.0
4    4.0   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0    3.5   4.0